* {
  margin: 0;
  padding: 0;
}
html,
body,
.form-wrap,
#root {
  height: 100%;
}
 
.form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrap form{
  width: 600px;
}